.root {
    -fx-background-color: #242228;
}

.open-file-button {
    -fx-background-color: rgba(200, 214, 245, 0.9);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.75), 8, 0, 0, 0);
}

.open-file-button:hover {
    -fx-background-color: rgba(184, 197, 224, 0.9);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 12, 0, 0, 0);
}
